.badge {
    background: url("../../../img/badges_sprite.png");
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
    top: -50px;
    right: 5px;
}

.header {
    display: inline-flex;
    height: 35px;
}

.Player {
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    color: #ffffff;
}

.header > .fullname {
    width: 190px;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 10px;
}

.Player > .Information {
    font-size: 20px;
    margin-bottom: 10px;
}

.Player > .Age,
.Player > .CurrentTeam,
.Player > .NationalTeam {
    margin-top: 5px;
}

.Player > .NationalTeam {
    margin-bottom: 15px;
}

.team21 {
    width: 100px;
    height: 100px;
    background-position: 0px -800px;
}

.team11 {
    width: 100px;
    height: 100px;
    background-position: -700px 0px;
}

.team12 {
    width: 100px;
    height: 100px;
    background-position: -300px -600px;
}

.team1 {
    width: 100px;
    height: 100px;
    background-position: -400px -500px;
}

.team26 {
    width: 100px;
    height: 100px;
    background-position: -100px -300px;
}